
# dependencies
/car-dealer-shop-frontend/node_modules
/car-dealer-shop-frontend/.pnp
/car-dealer-shop-frontend/.pnp.js

# testing
/car-dealer-shop-frontend/coverage

# production
/car-dealer-shop-frontend/build

# misc
/car-dealer-shop-frontend/.DS_Store
/car-dealer-shop-frontend/.env.local
/car-dealer-shop-frontend/.env.development.local
/car-dealer-shop-frontend/.env.test.local
/car-dealer-shop-frontend/.env.production.local

/car-dealer-shop-frontend/npm-debug.log*
/car-dealer-shop-frontend/yarn-debug.log*
/car-dealer-shop-frontend/yarn-error.log*